<%- include('layout/header') -%>
<%- include('layout/nav', {user}) -%>
<div class="container">
  <%- include('layout/search') -%>
  <div id="content"></div>
</div>
<script src="js/index.js"></script>

<%  reviews.forEach(function(i) { %>
<div class="box">
  <h1><%= i.title %></h1>
  <h2><%= i.score %></h2>
  <p><%= i.review %></p>
  <p>
    <a href="/user/<%= i.User.id %>">
      <%= i.User.email %>
    </a>
    <img src="<%= img %>">
  </p>
</div>
<% }) %>


<%- include('layout/footer') -%>