<%- include('layout/header') -%>
<%- include('layout/nav', {user}) -%>
<div class="container has-text-centered">
  <%- include('layout/search') -%>
  <% if(user) { %>
  <h1 class="subtitle is-2">Welcome <%= user.email %></h1>
  <% } else { %>
  <h1 class="subtitle is-2">Reviews</h1>
  <% } %>
  <h4 class="subtitle is-4"><%= title %></h4>
  <%  if(!reviews.length) { %>
  <h4 class="subtitle">No Reviews Found</h4>
  <% } %>
  <%  reviews.forEach(function(i) { %>
  <%- include('layout/review', {user, review: i}) -%>

  <% }) %>
</div>
<%- include('layout/footer') -%>