<div class="box review-box">
  <article class="media">
    <div class="media-content">
      <img class="image movie-image" alt="Movie Coverbox" src="<%= review.Movie.img %>">
      <div class="media-header">
        <div class="media-item">
          Movie: <a href="/movie/<%= review.Movie.id %>"><strong><%= review.Movie.title %></strong></a>
        </div>
        <div class="media-item">
          Score: <strong><%= review.score %></strong>
        </div>
        <div class="media-item">
          Rating: <strong><%= review.Movie.rating %></strong>
        </div>
        <div class="media-item">
          User: <strong><a href="/user/<%= review.User.id %>"><%= review.User.email %></a></strong>
        </div>
        <div class="media-item">
          Last Updated: <strong><%= review.updatedAt.toDateString() %></strong>
        </div>
        <% if(user && user.id === review.UserId) { %>
        <div class="media-item">
          <button type="delete" class="delete" data-id="<%= review.id %>">Delete</button>
        </div>
        <% } %>
      </div>
      <p><br><%= review.review %></p>
    </div>
  </article>
</div>
<script src="/js/addreview.js"></script>