<div class="box review-box">
  <article class="media">
    <div class="media-content">
      <% if(user && user.id === review.UserId) { %>
      <button type="delete" title="Delete Review" class="delete" data-id="<%= review.id %>">Delete</button>
      <% } %>
      <img class="image movie-image" alt="Movie Coverbox" src="<%= review.Movie.img %>">
      <div class="media-header">
        <div class="media-item">
          <strong><a href="/movie/<%= review.Movie.id %>"><%= review.Movie.title %></a></strong>
          <span>(<%= review.Movie.year %>)</span>
        </div>
        <div>
          <div class="media-item">
            Rating: <strong><%= review.Movie.rating %></strong>
          </div>
          <div class="media-item">
            Review Score: <strong><%= review.score %></strong>
          </div>
          <div class="media-item">
            Author: <strong><a href="/user/<%= review.User.id %>"><%= review.User.email %></a></strong>
          </div>
          <div class="media-item">
            Updated: <strong><%= review.updatedAt.toDateString().slice(4) %></strong>
          </div>
        </div>
      </div>
      <p><br><%= review.review %></p>
    </div>
  </article>
</div>
<script src="/js/addreview.js"></script>